<html>  
   <body style = "margin:20;padding:10">
    <h1> Please enter IP address or domain name: </h1>
        <form action = "http://localhost:8080/" method = "get">  
            <table>  
                <td><input type ="text"  name ="lookup"></td></tr>  
                <tr><td><input type = "submit"></td></tr>
            </table>
        </form>
        
        {% if valid == True %}
            {% for key, value in toDisplay.items() %}
                {% if key in lst %}
                    <pre>{{key}}: {{value}}</pre>
                {% endif %}
            {% endfor %}
        {% else %}
            <pre>Error occurred, please enter a new domain/IP address </pre>
        {% endif %}

   </body>  
</html>  